{% extends 'base.html' %}

{% block content %}



    <center>
    <h1>Add Category</h1>
 
        <br/><br>
        {% if submitted %}
            Your user story was submitted succesfully! 
        {% else %}
        
     
    
        <form action="" method = POST enctype="multipart/form-data" >
            {% csrf_token %}

        
        <div class="justify-content: space-between">
            {{ form2.name}} 
            <br>
            <br>
           
          
            
            <!-- <button type="button" id="add_row" name="add_row" class="btn btn-primary float-right"><span aria-hidden="true">Add Row</span></button> -->
          </div>
        </div>
        

        <br>
        <br>
        <br>

        
       <center> <input type = "submit" value="Submit" class="btn btn-secondary"> </center>

    </form>
    {% endif %}
    </center>

  {% endblock %}