{% extends 'base.html' %}
{% load static %}
{% block content %}

<h1 class="text-center">Badges Provided</h1>
<br>

<h4>Rookie</h4>
<br>
<p>User gains this badge after writing the first user story.</p>
<br>
<h4>Beginner</h4>
<br>
<p>User gains this badge after writing 10 user stories.</p>
<br>
<h4>Intermediate</h4>
<br>
<p>User gains this badge after writing 25 user stories.</p>
<br>
<h4>Advanced</h4>
<br>
<p>User gains this badge after writing 50 user stories.</p>
<br>
<h4>Professional</h4>
<br>
<p>User gains this badge after writing 100 user stories.</p>
<br>

  {% endblock %}
