{% extends 'base.html' %}

{% block content %}

<h2 class="text-center">My User Stories</h2>
<br>
Username: {{user.username}}
<br>
Role: {{user.role}}
<br>
<br>
{% for userstory in userstory %}
   <ul>

   - As <strong>{{userstory.who}}</strong>, I would like to <strong>{{userstory.desire}}</strong> so that I can <strong>{{userstory.reason}}</strong>
   <br>
   <br>
   Project: <strong>{{userstory.category}}</strong>
   <a href="{% url 'update_userstory' userstory.id %}" class= "btn btn-outline-secondary btn-sm">Update</a>
   <a href="{% url 'delete_userstory' userstory.id %}" class= "btn btn-outline-danger btn-sm">Delete</a>

   </ul>
   
   {% endfor %}
<!-- {% for userstory in userstorys %}
<li>As {{ userstory.who }}, I would like to {{userstory.desire}} so that I can {{userstory.reason}} </li>
{{ userstory }}
    <br>

{% endfor %} -->

  {% endblock %}